/* background color */
$primary-color: black;
$primary-color-light: #222;

/* text color */
$primary-text-color: white;

/* indents */
$std-indent: 16px;
$double-std-indent: 32px;

/* radius */
$radius: 5px;